%btn-default {
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #ffffff;
  transition: all .25s linear;
  text-decoration: underline;

  &:hover {
    color: #ffd300;
    background-color: transparent;
  }
}

%btn-denunciar {
  border-radius: 5px;
  background-color: #ffd300;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #2b2b2b;
  width: 100px;
  height: 43px;
}

.header-primary {
  nav {
    z-index: 100;
    position: relative;
    margin-top: 20px;
    right: 50px;

    li {
      display: inline-block;
      list-style-type: none;

      button {
        -webkit-apperarance: none;
        outline: none;
        border: none;
        background-color: transparent;

        &.btn-default {
          @extend %btn-default;
        }

        &.btn-denunciar {
          @extend %btn-denunciar;
        }
      }

      a {
        display: block;
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}

.logo {
  width: 220px;
  height: 180px;
  position: absolute;
  z-index: 11;
  text-indent: -9999px;

  margin: 30px auto auto 30px;

  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

// Custom style
.container-fluid {
  height: 100%;
  position: relative;
}

.wrapper-section {
  background-color: #2b2b2b;
  height: 100%;
  width: 280px;
  z-index: 10;
  position: absolute;
}

.box {
  position: relative;
  margin: 230px auto 10px auto;

  h3 {
    font-family: $ff-title;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
}

.complaint-list {
  width: 220px;
  border-radius: 8px;
  background-color: #1d1d1d;
  margin: 0 0 10px 20px;
  padding: 5px 12px;
  z-index: 3;

  h5 {
    font-size: 14px;
    color: #ffffff;
    font-family: HelveticaNeue-Bold;
  }

  p {
    font-family: HelveticaNeue-Light;
    font-size: 10px;
    color: #9b9b9b;
    margin-bottom: 0;
    margin-left: -5px;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      margin: 0 5px;
      border-radius: 100%;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
    }

    &.address {
      display: block;
      &::before { background-image: url('../images/address-icon.svg'); }
    }

    &.date {
      display: inline-block;
      margin-right: 10px;
      &::before { background-image: url('../images/date-icon.svg'); }
    }

    &.hour {
      display: inline-block;
      &::before { background-image: url('../images/hour-icon.svg'); }
    }
  }
}

.wrapper-visualization {
  position: relative;
  height: auto;
  float: left;
  margin-left: 30px;

  button {
    background-color: #ffd300;
    font-family: HelveticaNeue-Light;
  }

  // label {

  // }

  // fieldset {
  //   width: auto;
  //   display: inline-block;
  //   vertical-align: middle;
  // }
}

.footer-primary {
  width: 100%;
  display: inline-block;
  bottom: 10px;
  position: absolute;
  z-index: 2;
  left: 0;
  text-align: center;

  span {
    font-family: $ff-title;
    font-size: 10px;
    line-height: 1.3;
    color: #ffd300;
  }

  p {
    font-family: $ff-title;
    font-size: 10px;
    line-height: 1.3;
    color: #ffffff;
  }
}

.map {
  background-color: #2b2b2b;
  height: 100%;
  width: 100%;
  position: absolute;
}

.btn-denunciar {
  margin-top: 10px;
}


//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {}

// Desktops
@media screen and (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
