$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$ff-general: 'Open Sans Condensed', sans-serif;
$ff-title: 'Allerta Stencil', sans-serif;

// mapa
@import '_map';

// modais
@import '_modal';

// animações
@import '_animation';

// sobre
@import '_about';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

%offline-state {
  background-color: #909090 !important;
}

body {
  padding: 0;
  height: 100%;
  font-family: $ff-general;
  overflow: hidden;

  &.offline {
    .logo {
      background-image: url('../images/logo-mobile-offline.png');
    }

    button, a {
      &.btn-denunciar { @extend %offline-state; }

      &.btn-elogiar { @extend %offline-state; }

      &.btn-default { color: #909090 !important; }
    }

    .wrp-controls-map {
      button {
        @extend %offline-state;

        &.popup {
          &:before {
            @extend %offline-state;
          }
        }
      }
    }

    .tr-bt-active { color: #000000 !important; }

    .complaint-list {
      p {
        &::before { background-size: 10px 11px; }
      }

      p.address {
        &::before {
          background-image: url('../images/address-icon-placeholder.png');
        }
      }

      p.date {
        &::before { background-image: url('../images/date-icon-placeholder.png'); }
      }

      p.hour {
        &::before { background-image: url('../images/hour-icon-placeholder.png'); }
      }
    }
  }
}

html {
  height: 100%;
}


//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {
  body {
    &.offline {
      .logo { background-image: url('../images/logo-offline.png'); }
    }
  }
}

// Desktops
@media screen and (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
