<!-- About -->
<section class="col-xs-12 wrp-sc-about" ng-class="{ 'active': sobreActive == true }">
  <article class="sc-about">
    <h2 class="comodo-logo">Cômodo Coletivo</h2>

    <span class="btn-close-about" ng-click="toggleSobre()">x</span>

    <h3>todos os direitos reservados aos passageiros!</h3>

    <aside class="text">
      <p>Acreditamos no coletivo, acreditamos também que todos os passageiros tem o direito de receber um bom atendimento, por isso desenvolvemos o <b>Angrytaxis</b>.</p>

      <p>Este serviço tem o intuito de sensibilizar as pessoas, quantificar e localizar de forma segura pontos de denúncias mais frequentes a má conduta por meio dos taxistas.</p>

      <div>
        <h5>Compartilhe:</h5>

        <div class="pull-left">
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://angrytaxis.com?share=1&cup=blue&bowl=red&spoon=green" class="btn btn-social" title="Compartilhe no Facebook" target="_blank">Facebook</a>

          <a href="http://twitter.com/share?text=Todos+os+direitos+reservados+aos+passageiros!&url=https://angrytaxis.com&hashtags=angrytaxis,comodocoletivo,euapoio"class="btn btn-social" title="Compartilhe no Twitter" target="_blank">Twitter</a>
        </div>

        <!-- <div class="pull-right">
          <span>App Store</span>
          <span>Google Play</span>
        </div> -->
      </div>
    </aside>
  </article>
</section>
