<div class="wrapper-section" ng-class="{ 'active': mobileMenuActive == true }">
  <section class="col-xs-12 box">
    <h3>{{ 'LAST_COMPLAINTS' | translate }}</h3>

    <aside ng-repeat="m in result.slice().reverse() | limitTo: 3" class="complaint-list">
      <h5>{{m.title}}</h5>

      <p class="address" title="Endereço">{{m.full_address}}</p>
      <p class="date" title="Data">{{m.date}}</p>
      <p class="hour" title="Hora">{{m.hour}}</p>
    </aside>
  </section>

  <footer class="footer-primary">
    <span ng-click="setPortugueseLanguage()">{{ 'PORTUGUESE_BUTTON' | translate }}</span>
    <span ng-click="setEnglishLanguage()">{{ 'ENGLISH_BUTTON' | translate }}</span>
    <p>{{ 'ALL_RIGHTS_RESERVED' | translate }} <br>
    {{ 'PASSENGERS' | translate}}.</p>
  </footer>
</div>
