<!doctype html>
<html ng-app="angryTaxiApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <base href="/">

    <title>Angrytaxis - Todos os direitos reservados aos passageiros!</title>

    <meta name="description" content="Web App para denunciar ataques de taxistas aos passageiros ou motoristas que não sejam taxistas.">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffd300" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=yes">
    <meta name="keywords" content="taxi,recife,angry,uber,99taxis,easytaxi,taxista">
    <meta name="title" content="Angrytaxis">
    <meta name="publisher" content="Cômodo Coletivo">
    <meta name="creator.address" content="angrytaxis@gmail.com">
    <meta name="robots" content="all">
    <meta name="author" content="Cômodo Coletivo">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="copyright" content="Cômodo Coletivo - Todos os direitos reservados.">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">

    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="manifest" href="/manifest.json">

    <!-- Theme color -->
    <meta name="msapplication-TileColor" content="#ffd300">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#2b2b2b">

    <!-- Facebook -->
    <meta property="fb:app_id" content="967079083361877" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://angrytaxis.com">
    <meta property="og:title" content="Angrytaxis">
    <meta property="og:image" content="https://angrytaxis.com/fb-share.png">
    <meta property="og:description" content="Faça seu papel, denuncie!">

    <!-- Twitter -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" value="https://angrytaxis.com">
    <meta name="twitter:title" content="Angrytaxis">
    <meta name="twitter:description" content="Faça seu papel, denuncie!">
    <meta name="twitter:image:src" content="https://angrytaxis.com/fb-share.png">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/ngprogress/ngProgress.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=Allerta+Stencil|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body ng-init="getLocation()" ng-class="{ 'offline': online == false }">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Animation -->
    <div ng-hide="map" class="load-map"></div>

    <!-- Tablet and Desktop -->
    <header class="hidden-xs header-primary" ng-controller="GeneralCtrl">
      <h1 class="logo">Angrytaxis</h1>

      <nav class="pull-right">
        <ul>
          <li>
            <button ng-click="toggleSobre()" class="btn-default">
              {{ 'ABOUT' | translate }}
            </button>
          </li>

          <li>
            <button class="btn-default" data-toggle="modal" data-target="#modal-feedback">
              {{ 'FEEDBACK' | translate }}
            </button>
          </li>

          <li>
            <button class="btn-elogiar" data-toggle="modal" data-target="#modal-elogiar">
              {{ 'PRAISE' | translate }}
            </button>
          </li>

          <li>
            <button class="btn-denunciar" data-toggle="modal" data-target="#modal-denunciar">
              {{ 'DENOUNCE' | translate }}
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Mobile -->
    <header class="hidden-sm hidden-md hidden-lg header-secondary" ng-controller="GeneralCtrl">
      <h1 class="logo">Angrytaxis</h1>

      <span class="mobile-menu" ng-click="toggleMobileMenu()">
        {{ 'LAST_COMPLAINTS' | translate }}
      </span>

      <nav>
        <button class="btn-denunciar" data-toggle="modal" data-target="#modal-denunciar">
          {{ 'DENOUNCE' | translate }}
        </button>

        <button class="btn-elogiar" data-toggle="modal" data-target="#modal-elogiar">
          {{ 'PRAISE' | translate }}
        </button>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div ng-view=""></div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-73198047-2');
       ga('send', 'pageview');
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&key=AIzaSyD5k9agXULIehDwRDJPCzcxrJlNga7YHac&libraries=visualization" async></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angularbknd-sdk/dist/backand.min.js"></script>
    <script src="bower_components/ngMask/dist/ngMask.js"></script>
    <script src="bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/app.config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/requestapi.js"></script>
        <script src="scripts/services/notification.js"></script>
        <script src="scripts/controllers/general.js"></script>
        <script src="scripts/controllers/validar.js"></script>
        <script src="scripts/services/localstorage.js"></script>
        <!-- <script src="scripts/directives/angrymaps.js"></script> -->
        <!-- endbuild -->
</body>
</html>
