<div class="modal fade" id="modal-denunciar" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Denunciar</h4>
      </div>

      <div class="modal-body">
        <form>
          <fieldset class="form-group">
            <label for="cp-title">Título da denúncia</label>
            <input type="text" id="cp-title" ng-model="complaint.title" class="form-control">
          </fieldset>

          <fieldset class="form-group">
            <label for="cp-date">Data</label>
            <input type="date" id="cp-date" ng-model="complaint.date" class="form-control">
          </fieldset>

          <fieldset class="form-group">
            <label for="cp-hour">Hora</label>
            <input type="tel" id="cp-hora" ng-model="complaint.hour" class="form-control">
          </fieldset>

          <fieldset class="form-group">
            <label for="cp-resume">Observação</label>
            <textarea id="cp-resume" cols="30" rows="10" ng-model="complaint.obs" class="form-control"></textarea>
          </fieldset>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" type="submit" ng-click="newComplaint()" data-dismiss="modal">Criar denúncia</button>
      </div>
    </div>
  </div>
</div>
