<div class="modal fade" id="modal-elogiar" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" title="Fechar" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'MODAL_PRAISE_TITLE' | translate }}</h4>
      </div>

      <div class="row modal-body">
        <form name="praiseForm" ng-submit="newComplaint('praise')">
          <fieldset class="form-group col-xs-12" ng-class="{ 'has-error' : praiseForm.title.$invalid && !praiseForm.title.$pristine }">
            <input type="text" name="title" placeholder="{{ 'MODAL_PRISE_TEXT_TITLE' | translate }}" ng-model="complaint.title" class="form-control" required>
            <p ng-show="praiseForm.title.$invalid && !praiseForm.title.$pristine" class="help-block">{{ 'MODAL_COMPLAINT_MSG_DEFAULT' | translate }}</p>
          </fieldset>

          <fieldset class="form-group col-xs-12 col-sm-4" ng-class="{ 'has-error' : praiseForm.date.$invalid && !praiseForm.date.$pristine }">
            <input type="tel" name="date" placeholder="{{ 'MODAL_COMPLAINT_INPUT_DATE' | translate }}" ng-model="complaint.complaintDate" class="form-control icon date" mask="39/19/9999" required>
            <p ng-show="praiseForm.date.$invalid && !praiseForm.date.$pristine" class="help-block">{{ 'MODAL_COMPLAINT_MSG_DEFAULT' | translate }}</p>
          </fieldset>

          <fieldset class="form-group col-xs-12 col-sm-4" ng-class="{ 'has-error' : praiseForm.hour.$invalid && !praiseForm.hour.$pristine }">
            <input type="tel" name="hour" ng-model="complaint.complaintTime" placeholder="{{ 'MODAL_COMPLAINT_INPUT_HOUR' | translate }}" ng-minlength="2" ng-maxlength="5" class="form-control icon hour" required>
            <p ng-show="praiseForm.hour.$invalid && !praiseForm.hour.$pristine" class="help-block">{{ 'MODAL_COMPLAINT_MSG_DEFAULT' | translate }}</p>
            <p ng-show="praiseForm.hour.$error.maxlength && praiseForm.hour.$error.minlength" class="help-block">{{ 'MODAL_COMPLAINT_MSG_HOUR' | translate }}</p>
          </fieldset>

          <fieldset class="form-group col-xs-12 col-sm-4" ng-class="{ 'has-error' : praiseForm.carID.$invalid && !praiseForm.carID.$pristine }">
            <input type="tel" name="carID" ng-model="complaint.carID" placeholder="{{ 'MODAL_COMPLAINT_INPUT_CARID' | translate }}" class="form-control" required>
            <p ng-show="praiseForm.carID.$invalid && !praiseForm.carID.$pristine" class="help-block">{{ 'MODAL_COMPLAINT_MSG_DEFAULT' | translate }}</p>
          </fieldset>

          <fieldset class="form-group col-xs-12 col-sm-12" ng-class="{ 'has-error' : praiseForm.email.$invalid && !praiseForm.email.$pristine }">
            <input type="email" name="email" ng-model="complaint.email" placeholder="{{ 'MODAL_COMPLAINT_INPUT_EMAIL' | translate }}" class="form-control" required>
            <p ng-show="praiseForm.email.$invalid && !praiseForm.email.$pristine" class="help-block">{{ 'MODAL_COMPLAINT_MSG_EMAIL' | translate }}</p>
          </fieldset>

          <fieldset class="form-group col-xs-12">
            <input type="text" ng-model="complaint.reverseAddress" placeholder="{{ 'MODAL_COMPLAINT_INPUT_ADDRESS' | translate }}" class="form-control" autocomplete="off" uib-typeahead="address for address in autoComplete($viewValue)">
          </fieldset>

          <fieldset class="form-group col-xs-12 wrp-label">
            <label for="i-m-here">{{ 'MODAL_COMPLAINT_IM_HERE' | translate }}</label>
            <input id="i-m-here" type="checkbox" ng-model="complaint.myLocation">
          </fieldset>

          <fieldset class="form-group col-xs-12">
            <textarea placeholder="{{ 'MODAL_COMPLAINT_PRAISE_OBS' | translate }}" cols="30" rows="10" ng-model="complaint.observation" class="form-control"></textarea>
          </fieldset>

          <div class="modal-footer">
            <div class="pull-left col-sm-6" ng-if="full_address">
              <p class="modal-address">{{full_address}}</p>
            </div>

            <button ng-disabled="praiseForm.$invalid" class="btn btn-primary" type="submit">{{ 'MODAL_COMPLAINT_CREATE_PRAISE' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
