<div class="modal fade modal-instructions" id="modal-instructions" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Denúncia recebida com sucesso!</h4>
      </div>

      <div class="row modal-body">
        <div class="col-xs-12">
          <h3>Você receberá um link no seu e-mail para concluir sua denúncia.</h3>
          <h5>A confirmação foi enviada para: <span>{{complaint_email}}</span></h5>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
