<!-- Denúncias -->
<div ng-controller="GeneralCtrl" ng-include src="'views/partials/denuncias.html'"></div>

<!-- Mapa -->
<div ng-hide="map" class="load-map"></div>

<!-- Controles no mapa -->
<div ng-show="map" class="hidden-xs wrp-controls-map">
  <button class="my_location popup" data-popup="Mostrar meu local" ng-click="backMyLocation()" title="Mostrar meu local">
    Voltar para minha localização
  </button>

  <!-- <button class="markers" ng-click="onlyComplaint()" title="Exibir apenas denúncias">
    Exibir apenas denúncias
  </button> -->

  <button class="heatmap popup" ng-click="onlyHeatMap();" data-popup="Mapa de calor" title="Mapa de calor">
    Mapa de calor
  </button>
</div>

<section class="col-xs-12 map" id="map"></section>

<!-- Modal -->
<div ng-include ng-controller="GeneralCtrl" src="'views/modals/modal-denunciar.html'"></div>
<div ng-include ng-controller="GeneralCtrl" src="'views/modals/modal-elogiar.html'"></div>
<div ng-include ng-controller="GeneralCtrl" src="'views/modals/modal-instructions.html'"></div>

<div ng-include ng-controller="GeneralCtrl" src="'views/modals/modal-feedback.html'"></div>

<!-- About -->
<section ng-controller="GeneralCtrl" class="hidden-xs col-sm-12 wrp-sc-about" ng-class="{ 'active': sobreActive == true }">
  <article class="sc-about">
    <h2 class="comodo-logo">Cômodo Coletivo</h2>

    <span class="btn-close-about" ng-click="toggleSobre()">x</span>

    <h3>{{ 'ALL_RIGHTS_RESERVED_COMPLETE' | translate }}</h3>

    <aside class="text">
      <p>{{'ABOUT_TXT_01' | translate }} <b>{{'ANGRY_NAME' | translate }}</b>.</p>

      <p>{{'ABOUT_TXT_02' | translate}}</p>

      <div class="pull-left">
        <h5>{{'SHARE' | translate}}</h5>

        <div>
          <a href="#" class="btn btn-social" title="Compartilhe no Facebook">Facebook</a>
          <a href="#" class="btn btn-social" title="Compartilhe no Twitter">Twitter</a>
        </div>
      </div>

      <div class="pull-right">
        <h5>{{'COMING_SOON' | translate}}</h5>

        <div>
          <a href="#" class="btn-download app-store" title="Em breve na App Store">App Store</a>
          <a href="#" class="btn-download google-play" title="Em breve na Google Play">Google Play</a>
        </div>
      </div>
    </aside>
  </article>
</section>
