<!-- Denúncias -->
<div ng-include src="'views/partials/denuncias.html'"></div>

<!-- Mapa -->
<div ng-hide="map" class="load-map"></div>

<div ng-show="map" class="hidden-xs wrp-controls-map">
  <button class="markers" ng-click="backMyLocation()" title="Voltar para minha localização"> Voltar para minha localização </button>

  <!-- <button class="markers" ng-click="showMarkers()" title="Visualize marcadores"> Marcadores </button> -->

  <!-- <button class="heatmap" ng-click="toggleHeatmap()" title="Visualize as áreas de ataque"> Heatmap </button> -->
</div>

<section class="col-xs-12 map" id="map"></section>

<!-- Modal -->
<div ng-include ng-controller="GeneralCtrl" src="'views/modals/modal-denunciar.html'"></div>
<div ng-include ng-controller="GeneralCtrl" src="'views/modals/modal-feedback.html'"></div>

<!-- about section -->
<div class="hidden-xs" ng-include src="'views/partials/about.html'"></div>
